In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import datetime

In [6]:
# defino path
path = r'/Users/claudia/Documents/CoastSat-master/Adecuar marea'
#path = '/home/daniu/Documentos/CCM/caro_tesis/'

# abro doc de marea del SHN
df = pd.read_csv(path+r'/Marea-MdP-SHN.csv', header=None, names=['year','month','day','hour','tide'])
df.head()

   year  month  day  hour   tide
0  1986      1    4    13  187.0
1  1986      1    4    14  181.0
2  1986      1    4    15  163.0
3  1986      1    4    16  138.0
4  1986      1    4    17  112.0

In [7]:
df['dates'] = pd.to_datetime(df[["year", "month", "day", "hour"]], utc=True, )

df

       year  month  day  hour   tide                     dates
0      1986      1    4    13  187.0 1986-01-04 13:00:00+00:00
1      1986      1    4    14  181.0 1986-01-04 14:00:00+00:00
2      1986      1    4    15  163.0 1986-01-04 15:00:00+00:00
3      1986      1    4    16  138.0 1986-01-04 16:00:00+00:00
4      1986      1    4    17  112.0 1986-01-04 17:00:00+00:00
5      1986      1    4    18   94.0 1986-01-04 18:00:00+00:00
6      1986      1    4    19   78.0 1986-01-04 19:00:00+00:00
7      1986      1    4    20   67.0 1986-01-04 20:00:00+00:00
8      1986      1    4    21   67.0 1986-01-04 21:00:00+00:00
9      1986      1    4    22   75.0 1986-01-04 22:00:00+00:00
10     1986      1    4    23   96.0 1986-01-04 23:00:00+00:00
11     1986      1    5     0  115.0 1986-01-05 00:00:00+00:00
12     1986      1    5     1  126.0 1986-01-05 01:00:00+00:00
13     1986      1    5     2  130.0 1986-01-05 02:00:00+00:00
14     1986      1    5     3  130.0 1986-01-05 03:00:00+00:00
15     1986      1    5     4  118.0 1986-01-05 04:00:00+00:00
16     1986      1    5     5  107.0 1986-01-05 05:00:00+00:00
17     1986      1    5     6   94.0 1986-01-05 06:00:00+00:00
18     1986      1    5     7   93.0 1986-01-05 07:00:00+00:00
19     1986      1    5     8   96.0 1986-01-05 08:00:00+00:00
20     1986      1    5     9  106.0 1986-01-05 09:00:00+00:00
21     1986      1    5    10  122.0 1986-01-05 10:00:00+00:00
22     1986      1    5    11  138.0 1986-01-05 11:00:00+00:00
23     1986      1    5    12  162.0 1986-01-05 12:00:00+00:00
24     1986      1    5    13  176.0 1986-01-05 13:00:00+00:00
25     1986      1    5    14  182.0 1986-01-05 14:00:00+00:00
26     1986      1    5    15  174.0 1986-01-05 15:00:00+00:00
27     1986      1    5    16  155.0 1986-01-05 16:00:00+00:00
28     1986      1    5    17  139.0 1986-01-05 17:00:00+00:00
29     1986      1    5    18  120.0 1986-01-05 18:00:00+00:00
...     ...    ...  ...   ...    ...                       ...
37094  2020      9   17     8   18.0 2020-09-17 08:00:00+00:00
37095  2020      9   17     9    6.0 2020-09-17 09:00:00+00:00
37096  2020      9   17    10   11.0 2020-09-17 10:00:00+00:00
37097  2020      9   17    11    9.0 2020-09-17 11:00:00+00:00
37098  2020      9   17    12   -3.0 2020-09-17 12:00:00+00:00
37099  2020      9   17    13   -4.0 2020-09-17 13:00:00+00:00
37100  2020      9   17    14    0.0 2020-09-17 14:00:00+00:00
37101  2020      9   17    15   24.0 2020-09-17 15:00:00+00:00
37102  2020      9   17    16   52.0 2020-09-17 16:00:00+00:00
37103  2020      9   17    17   89.0 2020-09-17 17:00:00+00:00
37104  2020      9   17    18  123.0 2020-09-17 18:00:00+00:00
37105  2020      9   17    19  135.0 2020-09-17 19:00:00+00:00
37106  2020      9   17    20  130.0 2020-09-17 20:00:00+00:00
37107  2020      9   17    21  127.0 2020-09-17 21:00:00+00:00
37108  2020      9   17    22   97.0 2020-09-17 22:00:00+00:00
37109  2020      9   17    23   94.0 2020-09-17 23:00:00+00:00
37110  2020      9   18     0   77.0 2020-09-18 00:00:00+00:00
37111  2020      9   18     1   62.0 2020-09-18 01:00:00+00:00
37112  2020      9   18     2   66.0 2020-09-18 02:00:00+00:00
37113  2020      9   18     3   58.0 2020-09-18 03:00:00+00:00
37114  2020      9   18     4   70.0 2020-09-18 04:00:00+00:00
37115  2020      9   18     5   96.0 2020-09-18 05:00:00+00:00
37116  2020      9   18     6  130.0 2020-09-18 06:00:00+00:00
37117  2020      9   18     7  147.0 2020-09-18 07:00:00+00:00
37118  2020      9   18     8  148.0 2020-09-18 08:00:00+00:00
37119  2020      9   18     9  146.0 2020-09-18 09:00:00+00:00
37120  2020      9   18    10  135.0 2020-09-18 10:00:00+00:00
37121  2020      9   18    11  122.0 2020-09-18 11:00:00+00:00
37122  2020      9   18    12  113.0 2020-09-18 12:00:00+00:00
37123  2020      9   18    13  108.0 2020-09-18 13:00:00+00:00

[37124 rows x 6 columns]

In [8]:
df[['dates','tide']].to_csv(path + 'Marea-SHN-mdp-dates-corregidos.csv', index=False)

In [11]:

#Saco media para llevar los niveles a 0 (tienen una referencia en la base del mareografo
msl=np.mean(df.tide)
t=df.tide-msl
#paso de cm a m y redondeo a 3 decimales
t=(t/100).round(3)
#convierto t en dataframe y le pongo la variable dates de indice
t=pd.DataFrame(t)
t=t.set_index(dates)
#t.to_csv('MareaFinal-MdP-SHN.csv')
df[['dates','t']].to_csv(path + 'Marea-SHN-mdp-dates-corregidos-t.csv', index=False)
t.head()

NameError: name 'dates' is not defined

In [ ]:
plt.plot(t)
fig, ax=plt.subplots(1,1,figsize=(12,4))
ax.plot(t)
ax.set(xlabel="tiempo", ylabel="nivel [m]")
ax.grid(color='grey',linestyle=':')
plt.tight_layout()
#save figure
#plt.savefig(path+r'\figura_niveles.png',dpi=300)